{% extends 'base.html'%}

{% block title %}Create goods{% endblock %}

{% block content %}

   <h1>Create new goods</h1>

   <form action="{% url 'create'  %}" method="POST" enctype="multipart/form-data">

       {% csrf_token %}

       <input type="text" placeholder="Input name" name="name" /><br>
       <textarea placeholder="Input description" name="description"></textarea><br>
       <input type="number" placeholder="Input cost " name="cost" /><br>
       <label for="status">Select status:</label>
       <select name="status">
           <option value="1">Available</option>
           <option value="2">Unavailable</option>
       </select><br>
       <input type="number" placeholder="Input amount" name="amount" /><br>
       <label for="category_id">Select category:</label>
       <select name="category_id">
           <option value="1">Phones</option>
           <option value="2">Cases</option>
           <option value="3">Notebooks</option>
       </select><br />
       <input type="file"
              name="icon"
              accept="image/png, image/jpeg"> <br>

       <button type="submit">Create Goods</button>

   </form>

{% endblock %}